$gray_link: #a4a2a2
$gray_text: #8c8b8b

$mons: 'Montserrat', sans-serif;


*
  box-sizing: border-box;


html,
body,
ul
  margin: 0
  padding: 0


body
  height: 100%
  position: relative


.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  font-family: $mons
  font-size: 16px


.container
  margin: 0 50px
  display: flex

.logo
  margin-top: 25px
  min-width: 112px
  min-height: 90px
  user-select: none
  a
    width: 100%
    height: 100%
  img
    width: 100%
    height: 100%
    object-fit: contain


.header
  nav
    width: 100%
    display: flex
    justify-content: center
    margin-top: 40px


.nav-list
  align-self: center
  list-style: none
  display: flex
  justify-content: space-between
  width: 383px


.nav-item
  width: 33%
  user-select: none
  
  &:first-child
    text-align: center

  a
    display: inline-block
    text-decoration: none
    color: $gray_link
    padding-bottom: 6px
    height: 100%
    border-bottom: 2px solid transparent
    
    &:hover
      color: #151515
      border-bottom: 2px solid #151515  
      font-weight: bold


.nav-item.active
  a
    color: #151515
    border-bottom: 2px solid #151515
    font-weight: bold

.footer
  position: fixed
  width: 100%
  bottom: 0
  left: 0
  display: flex
  justify-content: flex-start

  a
    margin-right: 40px
    margin-bottom: 40px
    
    img
      width: 20px
      height: 20px
      object-fit: contain

