@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}


/* Container */

.container--small {
  width: 1170px;
  margin: 0 auto;
}

.container--big {
  width: 1360px;
  margin: 0 auto;
}

/* Button */

.button {
	text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #2a86ff;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  font-size: 15px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  color: #2a86ff;

	transition: background-color .15s linear, color .15s linear;
}

.button:hover {
  background-color: #2a86ff;
  color: #fff;
}

/* Header */

header {
  box-sizing: border-box;
  min-height: 275px;
  font-family: 'Montserrat-Regular', sans-serif;
}

/* Sidebar-top */
.sidebar--top {
  box-sizing: border-box;
  height: 50px;
  background-color: #eee;

  font-size: 12px;
}

.sidebar--top > .container--small {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  height: 100%;
}

.dealers {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #717171;
  box-sizing: border-box;
  width: 245px;
  border-right: 1px solid #fff;
}

.dealers:before {
  content: "";
  display: inline-block;
  background-image: url('../img/dealers.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 20px;
  margin-right: 5px;
}

.social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 680px;
  border-right:1px solid #fff;
  justify-content: flex-end;
}

.social > * {
  text-decoration: none;
  color: #717171;
  margin-right: 20px;
}
.social > *:last-child {
  margin-right: 35px;
}

.account {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
  color: #717171;
  box-sizing: border-box;
  width: 105px;
  border-right: 1px solid #fff;
}

.account:before {
  content: "";
  display: inline-block;
  background-image: url('../img/account.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  margin-right: 12px;
  border-radius: 100%;
  margin-left: 15px;
}

.account:before:hover {
  border-color: #2a86ff;
}

.partners {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #717171;
  box-sizing: border-box;
  width: 140px;
}

.partners:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 20px;
  background-image: url('../img/partners.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  margin-right: 12px;
}

.dealers:hover, .account:hover, .partners:hover {
  color: #2a86ff;
}

/* Info */

.info {
  box-sizing: border-box;
  height: 155px;
}

.info > .container--small {
    box-sizing: border-box;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.info > .container--small:first-child {
  padding-left: 15px;
}

.info > .container--small:last-child {
  padding-right: 15px;
}

.logo {
  margin-right: 90px;
  box-sizing: border-box;

  width: 290px;
  height: 100px;
}

.logo > a {
  display: block;
  height: 100%;
  width: 100%;

  background-image: url('../img/logo.png');
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.phone {
  position: relative;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

  width: 215px;
  height: 65px;

  font-size: 12px;
}

.phone:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 4px;
  width: 37px;
  height: 37px;
  background-image: url('../img/phone.png');
  background-repeat: no-repeat;
  background-position: center;
}

.phone .phone__inner {
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}

.phone .call {
  color: #2a86ff;
}

.shopping-cart {
  position: relative;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

  box-sizing: border-box;
  width: 115px;
  height: 65px;

  font-size: 12px;
}

.shopping-cart:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 30px;
  top: 10px;
  left: -5px;

  background-image: url('../img/shopping_cart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.shopping-cart:after {
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #2a86ff;
  border-radius: 100%;
  top: 0;
  left: 20px;
  color: #fff;
}

.shopping-cart .count {
  font-size: 14px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  margin-top: 23px;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.shopping-cart .place-order {
  color: #2a86ff;
}

.test-drive {
  width: 260px;
  height: 50px;
}


/* Menu */

nav.menu {
  box-sizing: border-box;
  height: 70px;
  background-color: #1a1a55;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: normal;
}

nav.menu > .container--small {
  height: 100%;
}

.menu__list {
  height: 100%;
  width: 100%;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  color: #fff;
}

.menu__item {
  text-decoration: none;
  color: #fff;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color .15s linear;
}

.menu__item:hover {
  background-color: #2a86ff;
}


.menu__item:hover {
  background-color: 2a86ff;
}

/* Main Picture */

.main_title {
  display: block;
  height: 664px;
  background-color: #37414f;
  background-image: url('../img/main_picture.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: bottom;
	background-repeat: no-repeat;

  color: #fff;
}

.main_title > .container--small > .title_text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;

  margin-left: 120px;
	padding-top: 170px;
	text-transform: uppercase;
}

.title_text > span {
  display: inline-block;

  font-size: 75px;
  font-family: 'Montserrat-Regular', sans-serif;
}

.title_text > h1 {
	width: 560px;
	font-size: 98px;
	font-family: 'Montserrat-bold', sans-serif;
}

/* Tabs */

.tabs {
	height: 180px;
}

.tabs > .container--big {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	height: 100%;
}

.tabs-item {
	height: 135px;
	width: 270px;
	border: 1px solid #2c87ff;
	border-left: none;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	transition: background-color .15s linear, height .15s linear;
	cursor: pointer;
}

.tabs-item:first-child {
	border-left: 1px solid #2c87ff;
}

.tabs-item > .item-text {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 26px;
	padding-top: 12px;
	width: 220px;
}

.item-text > .direction {
	text-transform: uppercase;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 16px;
	color: #2a86ff;
	height: 36px;
	transition: color .15s linear;
}

.item-text > .description {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 13px;
	width: 181px;
	margin-top: 10px;
	text-shadow: visibility .15s linear;
}

.tabs-item > .item-icon {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	box-sizing: border-box;

	padding-bottom: 30px;
	padding-right: 20px;
}

.active-item {
	background-color: #2a86ff;
	height: 160px;
}

.active-item > .item-text > .direction {
	color: #fff;
}

.active-item > .item-text > .description {
	visibility: hidden;
}

.tabs-item:hover {
	background-color: #2a86ff;
	height: 160px;
}

.tabs-item:hover > .item-text > .direction {
	color: #fff;
}

.tabs-item:hover > .item-text > .description {
	visibility: hidden;
}

/* Benefits */

.benefit-description {
	height: 455px;
	background-color: #eee;
	position: relative;
}

.benefit-description > .container--big {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	height: 100%;
	position: relative;
}

.choose {
	padding-left: 28px;
	padding-top: 90px;
	padding-right: 24px;
	width: 543px;
	box-sizing: border-box;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.choose > .choose-description {
	font-size: 16px;
	font-family: 'Montserrat-Regular', sans-serif;
	color: #1a1a55;
	width: 490px;
}

.choose-system {
	margin-top: 83px;
	width: 217px;
	height: 46px;
	font-size: 16px;
}

.tab-benefits {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	height: 100%;
	width: 816px;
	position: relative;
	z-index: 1;
}

.tab-benefits__background {
	position: absolute;
	background-image: url('../img/tabs_back.png');
	height: 100%;
	width: 1096px;
	margin-left: 542px;
	top: 0;
	left: 0;

	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	z-index: 0;
}

.benefit__title {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	color: #eee;
	font-weight: bold;
	line-height: 1.2;
	text-shadow: 0px 0px 38px rgb( 26, 26, 85 );

	text-transform: uppercase;
	width: 600px;
	margin: 35px 120px 35px 100px;
}

.benefit__items {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-right: 5px;
}

.benefit__item {
	width: 267px;
	height: 170px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;

	position: relative;
}

.benefit__item > .icon {
	width: 80px;
	height: 80px;
	border: 1px solid #eee;
	border-radius: 100%;
	background-color: #eee;
	transition: background-color .15s linear, border .2s linear;
}

.benefit__item > .text {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 14px;
	color: #eee;

	margin-top: 13px;
	width: 180px;
	text-align: center;

	transition: font-weight .2s linear, color .15s linear;
}

.benefit__item:hover > .text {
	font-family: 'Montserrat-bold', sans-serif;
	font-weight: bold;
	color: #fff;
}

.benefit__item:hover > .icon {
	background-color: #2b6fce;
	border-color: #2b6fce;
}

.hover-info {
	position: absolute;
	visibility: hidden;
	box-sizing: border-box;

	left: 267px;
	top: 3px;

	width: 267px;
	height: 120px;

	background-color: rgba( 42, 134, 255, 0.749);

	color: #fff;
	line-height: 1.143;

	z-index: 2;
}


.hover-info > .head {
	display: block;
	padding: 15px 12px 12px 12px;

	font-size: 14px;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	text-transform: uppercase;

	border-bottom: 1px solid #fff;
}

.hover-info > .text {
	display: block;
	padding: 15px 12px 25px 12px;

	font-size: 13px;
	font-family: 'Montserrat-Regular', sans-serif;
}

.benefit__item:nth-child(3n + 3) > .hover-info {
	left: -267px;
}

.benefit__item:hover > .hover-info {
	visibility: visible;
}


/* Product */

.product {
	height: 625px;
}

.product__inner {
	box-sizing: border-box;
	height: 625px;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 26px;
	border: 8px solid #1b2160;
	border-image: linear-gradient(145deg, #1a1a55, #2a86ff 80%);
	border-image-slice: 1;
	position: relative;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
}

.product__info {
	width: 544px;
	padding-left: 95px;
	padding-top: 45px;
	padding-bottom: 78px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.product__info > .head {
	color: #1a1a55;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

.product__info > .comments {
	width: 220px;
	height: 20px;
	text-align: right;
	margin-top: 30px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 12px;
}

.product__info > .comments > a {
	color: #2a86ff;
}

.product__info > .comments > a:visited {
	color: #2a86ff;
}

.product__info > .info {
	height: 245px;
	margin-top: 20px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 13px;
	line-height: 1.231;
	color: #444;
}

.info__list {
	list-style: none;
}

.info__list__item {
	margin-bottom: 5px;
}

.info__list__item:last-child {
	margin-bottom: 0;
}

.product__info > .price {
	width: 100%;
	margin-top: 22px;
}

.product__info > .price > .current {
	display: inline-block;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #1a1a55;
}

.product__info > .price > .old {
	display: inline-block;
	margin-left: 35px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #444;
	text-decoration: line-through;
}

.add {
	width: 255px;
	height: 47px;
	margin-top: 30px;
}

.product__photo {
	width: 540px;
	margin-top: 100px;
	margin-bottom: 78px;
	padding-top: 45px;
	padding-bottom: 78px;
}

.product__list > .photo_small {
		margin-right: 25px;
}

.product__list > .photo_small:last-child {
	margin-right: 0;
}

.product__color {
	width: 278px;
	margin-top: 45px;
	margin-bottom: 78px;
	padding-bottom: 78px;
}

.product__color > .head {
	margin-left: 25px;
	display: inline-block;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #1a1a55;
	text-transform: uppercase;
}

.product__color > .count {
	display: inline-block;
	margin-top: 10px;
	margin-left: 25px;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 14px;
	color: #2a86ff;
}

.color__list {
	list-style: none;
	margin-top: 25px;
}

.color__list__item {
	display: block;
	width: 50px;
	height: 50px;
	border: 2px solid #eee;

	margin-left: 65px;
	margin-top: 10px;
	position: relative;
}

.color__list__item:first-child {
	margin-top: 0;
}

.color-1 {
	background-color: #fff;
}

.color-2 {
	background-color: #c69c6d;
}

.color-3 {
	background-color: #790000;
}

.color-4 {
	background-color: #603913;
}

.color-5 {
	background-color: #000;
}

.to_catalog{
	position: absolute;
	background-color: #2a86ff;
	color: #fff;
	width: 315px;
	height: 47px;
	left: 526px;
	bottom: -8px;
}

/* How to choose*/

.how_to_choose {
	margin-top: 25px;
	height: 835px;
}

.how_to_choose > .container--big {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;

	position: relative;
}

.how_to_choose > .container--big > .wrapper {
	width: 816px;
	margin-top: 92px;
}

.wrapper > .head {
	font-family: 'Montserrat-Bold', sans-serif;
	width: 495px;
	font-size: 30px;
	margin-left: 136px;
	font-weight: bold;
	color: #1a1a55;
	text-transform: uppercase;
}

.how_it_works {
	display: inline-block;
	margin-top: 34px;
	margin-left: 136px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 18px;
	color: #1a1a55;
}

.how_to_choose > .container--big > .text {
	width: 788px;
	height: 327px;
	padding: 37px 25px 30px 34px;
	margin-top: 62px;
	background-color: #fff;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #444;
	text-align: justify;
	line-height: 1.5;

	-webkit-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);

	position: relative;
	z-index: 3;
}

.gray_part--right {
	position: absolute;
	display: block;
	left: 544px;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 1096px;
	background-color: #eee;
}

.photo_part {
	display: block;
	position: absolute;
	width: 908px;
	height: 700px;
	background-color: #6fc094;
	background-image: url('../img/text_bg.png');
	background-size: cover;
	background-repeat: no-repeat;

	top: 70px;
	right: 732px;
}

.choose_btn {
	margin-top: 55px;
	width: 308px;
	height: 47px;
}

/* System */

.system	{
	height: 1435px;
}

.system > .container--small {
	height: 100%;
	padding-top: 1px;
	position: relative;
}

.system > .container--small > h2 {
	margin-top: 64px;
	margin-left: 204px;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #1a1a55;
	text-transform: uppercase;
}

.system > .container--small > .content-block {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.subhead {
	display: inline-block;
	text-align: right;
	margin-top: 58px;
	margin-right: 35px;
	-ms-align-self: flex-end;
	align-self: flex-end;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #2a86ff;
	text-transform: uppercase;
}

.subhead:before {
	display: block;
	content: "";
	height: 3px;
	width: 652px;

	position: absolute;
	top: 65px;
	left: 14px;


	background-color: #2a86ff;
}

.content-block > .photo_left {
	margin-left: 15px;
	margin-top: 30px;
	width: 353px;
	height: 270px;

	-ms-align-self: flex-start;
	align-self: flex-start;
}

.content-block > .text_right {
	position: absolute;
	box-sizing: border-box;
	right: 15px;
	top: 146px;
	height: 185px;
	width: 817px;
	padding: 10px 20px 20px 50px;

	text-align: justify;

	line-height: 1.375;
	background-color: #2a86ff;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #fff;

	-webkit-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
}

.content-block > .text_right:after {
	content: "";
	width: 2px;
	height: 159px;
	background-color: #fff;
	position: absolute;
	top: 13px;
	left: 30px;
}

.content-block > .text_right:before {
	content: "";
	border: 18px solid transparent;
	border-left: 24px solid #00ca43;
	position: absolute;
	top: 39%;
	left: -6px;
}

.content-block > .photo_right {
	margin-right: 15px;
	width: 353px;
	height: 270px;

	-ms-align-self: flex-end;
	align-self: flex-end;
}

.content-block > .text_left {
	position: absolute;
	box-sizing: border-box;
	left: 15px;
	top: 414px;
	height: 185px;
	width: 817px;
	padding: 10px 50px 20px 20px;

	text-align: justify;

	line-height: 1.375;
	background-color: #1a1a55;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #fff;

	-webkit-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
}

.content-block > .text_left:after {
	content: "";
	width: 2px;
	height: 159px;
	background-color: #fff;
	position: absolute;
	top: 13px;
	right: 30px;
}

.content-block > .text_left:before {
	content: "";
	border: 18px solid transparent;
	border-right: 24px solid #dc0909;
	position: absolute;
	top: 39%;
	right: -6px;
}

.gray_part--left {
	position: absolute;
	top: 0;
	right: 721px;
	display: block;
	width: 824px;
	height: 100%;
	z-index: -1;
	background-color: #eee;
}

/* Questions*/

.questions {
	height: 595px;
	background-color: #2a86ff;
	background-image: url('../img/questions_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.questions > .container--big {
	padding-top: 1px;
	position: relative;
	height: 100%;
}

.q_head {
	width: 360px;
	margin-top: 60px;
	margin-left: 108px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	line-height: 1.5;
}

.q_head > .do_you {
	display: block;
	font-size: 48px;
}

.q_head > .have {
	display: block;
	font-size: 57px;
}

.contact_us {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	margin-top: 50px;
	margin-left: 200px;
	width: 425px;
	color: #fff;
	position: relative;

}

.contact_us:before {
	content: "";
	display: inline-block;
	height: 2px;
	width: 466px;
	background-color: #fff;

	position: absolute;
	left: -481px;
	top: 13px;
}

.contact_us > .will_answer {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 25px;
	line-height: 1.04;
}

.contact_us > .contact_phone {
	margin-top: 15px;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 46px;
}

.contact_us > .free_call {
	margin-top: 15px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
}

.btns {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	margin-left: 60px;
	margin-top: 35px;
	justify-content: space-between;
	width: 290px;
	height: 115px;
}

.btns > .call, .btns > .message {
	width: 108px;
	height: 108px;
	border: 4px solid #fff;
	border-radius: 100%;
	transition: border .15s linear, background-color .15s linear, box-shadow .15s linear;
	cursor: pointer;
}

.btns > .call:hover, .btns > .message:hover {
	border-color: #2a86ff;
	background-color: #fff;
	-webkit-box-shadow: 10px 5px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 5px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 5px 20px 0px rgba(0,0,0,0.75);
}

.woman {
	position: absolute;
	right: 0;
	bottom: 1px;
}

/* Our partners */

.our_partners {
	height: 305px;

	background-color: #e1ded9;
	background-image: url('../img/partners_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.our_partners > .container--big {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	padding-top: 1px;
	color: #1a1a55;
}

.our_partners > .container--big > .p_head {
	margin-top: 50px;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	font-weight: bold;

	text-transform: uppercase;
}

.our_partners > .container--big > .p_subhead {
	margin-top: 25px;
	font-family: 'Montserrat-regular', sans-serif;
	font-size: 18px;
}

.partners_slider {
	margin-top: 50px;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.partners_icon {
	width: 170px;
	height: 60px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.partners_icon:first-child {
	margin-left: 105px;
}

.partners_icon:last-child {
	margin-right: 105px;
}

/* Footer */

.footer {
	height: 590px;
	background-color: #1a1a55;
	padding-top: 60px;
}

.footer_content {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	position: relative;

	font-family: 'Montserrat-regular', sans-serif;
	font-size: 12px;
	color: #fff;
}

.footer_content > .contacts {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	margin-left: 15px;
	width: 200px;
}

.footer_content > .contacts > .head {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #2a86ff;
	text-transform: uppercase;
}

.footer_content > .contacts > .address {
	margin-top: 45px;
}

.footer_content > .contacts > .show_map {
	margin-top: 20px;
	color: #2a86ff;
}

.footer_content > .contacts > .mail_sale {
	margin-top: 45px;
}

.footer_content > .contacts > .support {
	margin-top: 15px;
}

.footer_content > .contacts > .phone_sale {
	margin-top: 40px;
}

.footer_content > .contacts > .phone_support {
	margin-top: 12px;
}

.f_social {
	margin-top: 50px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.f_social > a {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
}

.clients_info {
	margin-left: 45px;
}

.clients_info > .head {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #2a86ff;
	text-transform: uppercase;
}

.clients_info > .lists {
	margin-top: 45px;
	width: 465px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.list_left > a, .list_right > a {
	text-decoration: none;
	color: #fff;
	list-style: url('../img/list_pointer.png');
}

.list_left > a > li, .list_right > a > li {
	margin-top: 13px;
	padding-left: 10px;
}

.list_left > a:first-child > li:first-child {
	margin-top: 0;
}

.list_right > a:first-child > li:first-child {
	margin-top: 0;
}
