@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

/*==================== Container ====================*/

.container--small {
  width: 1170px;
  margin: 0 auto;
}

.container--big {
  width: 1360px;
  margin: 0 auto;
}


/*==================== Button ====================*/

.button {
	text-decoration: none;
  box-sizing: border-box;
  border: 2px solid #2a86ff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Montserrat-Bold', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #2a86ff;
	transition: background-color .15s linear, color .15s linear;
	-o-transition: background-color .15s linear, color .15s linear;
	-webkit-transition: background-color .15s linear, color .15s linear;
	-moz-transition: background-color .15s linear, color .15s linear;
}

.button:hover {
  background-color: #2a86ff;
  color: #fff;
}

/*==================== Header ====================*/

header {
  box-sizing: border-box;
  height: 275px;
  font-family: 'Montserrat-Regular', sans-serif;
}

/*==================== Sidebar-top ====================*/
.sidebar--top {
  box-sizing: border-box;
  height: 50px;
  background-color: #eee;
  font-size: 12px;
}

.sidebar--top > .container--small {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
}

.dealers {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #717171;
  box-sizing: border-box;
  width: 245px;
  border-right: 1px solid #fff;
}

.dealers:before {
  content: "";
  display: inline-block;
  background-image: url('../img/icons/dealers.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 20px;
  margin-right: 5px;
	transition: color .15s linear;
	-o-transition: color .15s linear;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
}

.dealers:hover:before {
	background-image: url('../img/icons/dealers_hover.png');
}

.social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 680px;
  border-right:1px solid #fff;
  justify-content: flex-end;
}

.social > a:last-child {
  margin-right: 35px;
}

.social > .vk,
.social > .fb,
.social > .youtube {
	text-decoration: none;
	margin-right: 20px;
	width: 21px;
	height: 16px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.social > .vk {
	background-image: url('../img/social/vk.png');
}

.social > .vk:hover {
	background-image: url('../img/social/vk_hover.png');
}

.social > .fb {
	background-size: contain;
	background-image: url('../img/social/fb.png');
}

.social > .fb:hover {
	background-image: url('../img/social/fb_hover.png');
}

.social > .youtube {
	background-image: url('../img/social/yt.png');
}

.social > .youtube:hover {
	background-image: url('../img/social/yt_hover.png');
}

.account {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
  color: #717171;
  box-sizing: border-box;
  width: 105px;
  border-right: 1px solid #fff;
	transition: color .15s linear;
	-o-transition: color .15s linear;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
}

.account:before {
  content: "";
  display: inline-block;
  background-image: url('../img/icons/account.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  margin-right: 12px;
  border-radius: 100%;
  margin-left: 15px;
}

.account:hover:before {
  background-image: url('../img/icons/account_hover.png');
}

.partners {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #717171;
  box-sizing: border-box;
  width: 140px;
	transition: color .15s linear;
	-o-transition: color .15s linear;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
}

.partners:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 20px;
  background-image: url('../img/icons/partners.png');
  background-repeat: no-repeat;
  background-position: center;
	background-size: contain;
  margin-left: 15px;
  margin-right: 12px;
}

.partners:hover:before {
	background-image: url('../img/icons/partners_hover.png');
}

.dealers:hover, .account:hover, .partners:hover {
  color: #2a86ff;
}

/*==================== Info ====================*/

.info {
  box-sizing: border-box;
  height: 155px;
}

.info > .container--small {
    box-sizing: border-box;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.info > .container--small:first-child {
  padding-left: 15px;
}

.info > .container--small:last-child {
  padding-right: 15px;
}

.logo {
  margin-right: 90px;
  box-sizing: border-box;

  width: 290px;
  height: 100px;
}

.logo > a {
  display: block;
  height: 100%;
  width: 100%;

  background-image: url('../img/logo.png');
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.info > .container--small > .phone {
  position: relative;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

  width: 215px;
  height: 65px;

  font-size: 12px;
}

.phone:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 4px;
  width: 37px;
  height: 37px;
  background-image: url('../img/icons/phone.png');
  background-repeat: no-repeat;
  background-position: center;
}

.phone > .phone__inner {
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}

.phone > .call {
  color: #2a86ff;
}

.shopping-cart {
  position: relative;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

  box-sizing: border-box;
  width: 115px;
  height: 65px;

  font-size: 12px;
}


.shopping-cart:before {
  content: "";
  position: absolute;
  width: 38px;
  height: 30px;
  top: 10px;
  left: -10px;

  background-image: url('../img/icons/shopping_cart.png');
  background-repeat: no-repeat;
  background-position: center;
}

.shopping-cart:after {
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #2a86ff;
  border-radius: 100%;
  top: -5px;
  left: 15px;
  color: #fff;
}

.shopping-cart > .count {
  font-size: 14px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  margin-top: 23px;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.shopping-cart > .place-order {
  color: #2a86ff;
}

.test-drive {
  width: 260px;
  height: 50px;
}


/*==================== Menu ====================*/

nav.menu {
  box-sizing: border-box;
  height: 70px;
  background-color: #1a1a55;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: normal;
}

nav.menu > .container--small {
  height: 100%;
}

.menu__list {
  height: 100%;
  width: 100%;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  color: #fff;
}

.menu__item {
  text-decoration: none;
  color: #fff;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color .15s ease;
	-o-transition: background-color .15s ease;
	-webkit-transition: background-color .15s ease;
	-moz-transition: background-color .15s ease;
}

.menu__item:hover {
  background-color: #2a86ff;
}


/*==================== Main Title Slider ====================*/

.main_title {
  display: block;
  height: 664px;
  background-color: #37414f;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: bottom;
	background-repeat: no-repeat;

  color: #fff;
}

.main_title__slider {
	position: relative;
	height: 664px;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition: all 1.15s ease;
}

.item1{
	background-image: url('../img/slide1.png');
}

.item2 {
	background-image: url('../img/slide2.png');
}

.item3 {
	background-image: url('../img/tabs_back.png');
}

.item4 {
	background-image: url('../img/text_bg.png');
}

.main_title__slider > .left_arrow,
.main_title__slider > .right_arrow {
	display: block;
	position: absolute;
	top: 305px;
	width: 62px;
	height: 54px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color .15s ease;
	z-index: 4;
}

.main_title__slider .left_arrow:hover,
.main_title__slider .right_arrow:hover {
	background-color: rgba(42,134,255, 0.5);
}

.main_title__slider .left_arrow {
	left: 5px;
	background-image: url("../img/icons/arrow_left.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.main_title__slider .right_arrow {
	right: 5px;
	background-image: url("../img/icons/arrow_right.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.main_title > .container--small > .title_text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;

  margin-left: 120px;
	padding-top: 170px;
	text-transform: uppercase;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;

}

.title_text > span {
  display: inline-block;

  font-size: 75px;
  font-family: 'Montserrat-Regular', sans-serif;
	position: relative;
	z-index: 50;
}

.title_text > h1 {
	width: 560px;
	font-size: 98px;
	font-family: 'Montserrat-bold', sans-serif;
	position: relative;
	z-index: 50;
}

/*==================== Tabs ====================*/

.tabs {
	height: 180px;
}

.tabs > .container--big {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	height: 100%;
}

.tabs-item {
	height: 135px;
	width: 270px;
	border: 1px solid #2a86ff;
	border-left: none;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	transition: background-color .15s ease, height .15s ease;
	-o-transition: background-color .15s ease, height .15s ease;
	-webkit-transition: background-color .15s ease, height .15s ease;
	-moz-transition: background-color .15s ease, height .15s ease;
	cursor: pointer;

	position: relative;
}

.tabs-item:first-child {
	border-left: 1px solid #2a86ff;
}



.tabs-item > .item-text {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 26px;
	padding-top: 12px;
	width: 220px;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.item-text > .direction {
	text-transform: uppercase;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 16px;
	color: #2a86ff;
	height: 36px;
	transition: color .15s linear;
	-o-transition: color .15s linear;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
}

.item-text > .description {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 13px;
	width: 181px;
	margin-top: 10px;
	opacity: 1;
	filter:alpha(opacity=100)
	transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
}

.tabs-item > .item-icon {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;

	transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
}

.tabs-item > .restaurants {
	width: 43px;
	height: 40px;
	right: 15px;
	bottom: 30px;
	background-image: url('../img/icons/restaurants.png');
}

.active .restaurants {
	background-image: url('../img/icons/restaurants_hover.png');
}

.tabs-item > .clients {
	width: 23px;
	height: 31px;
	right: 20px;
	bottom: 30px;
	background-image: url('../img/icons/clients.png');
}

.active .clients {
	background-image: url('../img/icons/clients_hover.png');
}

.tabs-item > .invalid {
	width: 29px;
	height: 39px;
	right: 20px;
	bottom: 30px;
	background-image: url('../img/icons/invalid.png');
}

.active .invalid {
	background-image: url('../img/icons/invalid_hover.png');
}

.tabs-item > .med {
	width: 38px;
	height: 39px;
	right: 8px;
	bottom: 30px;
	background-image: url('../img/icons/med.png');
}

.active .med {
	background-image: url('../img/icons/med_hover.png');
}

.tabs-item > .shops {
	width: 34px;
	height: 34px;
	right: 20px;
	bottom: 30px;
	background-image: url('../img/icons/shops.png');
}

.active .shops {
	background-image: url('../img/icons/shops_hover.png');
}

.active {
	background-color: #2a86ff;
	height: 160px;
}

.active > .item-text > .direction {
	color: #fff;
}

.active > .item-text > .description {
	opacity: 0;
	filter:alpha(opacity=0);
}

/*==================== Benefits ====================*/

.benefit-description {
	height: 455px;
	background-color: #eee;
	position: relative;
}

.benefit-description > .container--big {
	height: 100%;
	position: relative;
}

.card {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter:alpha(opacity=0);

	transition: opacity .35s ease;
}

.active-card {
	opacity: 1;
	filter:alpha(opacity=100);
}

.choose {
	padding-left: 28px;
	padding-top: 90px;
	padding-right: 24px;
	width: 543px;
	box-sizing: border-box;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.choose > .choose-description {
	font-size: 16px;
	font-family: 'Montserrat-Regular', sans-serif;
	color: #1a1a55;
	width: 490px;
}

.choose-system {
	margin-top: 83px;
	width: 217px;
	height: 46px;
	font-size: 16px;
	background-color: #2a86ff;
	color: #fff;
	transition: border-color .15s linear, background-color .15s linear;
	-o-transition: border-color .15s linear, background-color .15s linear;
	-webkit-transition: border-color .15s linear, background-color .15s linear;
	-moz-transition: border-color .15s linear, background-color .15s linear;
}

.choose-system:hover {
	background-color: #2562c6;
	border-color: #2562c6;
}

.tab-benefits {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	height: 100%;
	width: 816px;
	position: relative;
	z-index: 1;
}

.tab-benefits__background {
	position: absolute;
	background-image: url('../img/tabs_back.png');
	height: 100%;
	width: 1096px;
	margin-left: 542px;
	top: 0;
	left: 0;

	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	z-index: 0;
}

.benefit__title {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	color: #eee;
	font-weight: bold;
	line-height: 1.2;
	text-shadow: 0px 0px 38px rgb( 26, 26, 85 );

	text-transform: uppercase;
	width: 600px;
	margin: 35px 120px 35px 100px;
}

.benefit__items {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-right: 5px;

	position: absolute;
	top: 125px;
}

.benefit__item {
	width: 267px;
	height: 170px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;

	position: relative;

}

.benefit__item:hover + .benefit__item {
	opacity: 0;
	filter:alpha(opacity=0);
	visibility: hidden;
}

.benefit__item:nth-child(3n + 3):hover + .benefit__item {
	opacity: 1;
	filter:alpha(opacity=100);
	visibility: visible;
}

.benefit__item > .icon {
	width: 80px;
	height: 80px;
	border: 1px solid #eee;
	border-radius: 100%;
	background-color: #eee;
	background-image: url('../img/icons/b_icon.png');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	transition: background-color .15s linear, border .2s linear,
	box-shadow .15s linear;
	-o-transition: background-color .15s linear, border .2s linear,
	box-shadow .15s linear;
	-webkit-transition: background-color .15s linear, border .2s linear,
	box-shadow .15s linear;
	-moz-transition: background-color .15s linear, border .2s linear,
	box-shadow .15s linear;
}

.benefit__item > .text {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 14px;
	color: #eee;

	margin-top: 13px;
	width: 192px;
	text-align: center;

	transition: font-weight .2s linear, color .15s linear;
	-o-transition: font-weight .2s linear, color .15s linear;
	-webkit-transition: font-weight .2s linear, color .15s linear;
	-moz-transition: font-weight .2s linear, color .15s linear;
}

.benefit__item:hover > .text {
	font-family: 'Montserrat-bold', sans-serif;
	font-weight: bold;
	color: #fff;
}

.benefit__item:hover > .icon {
	background-color: #2b6fce;
	border-color: #2b6fce;
	box-shadow: 5.657px 5.657px 13px 0px rgb( 26, 26, 85 );
	background-image: url('../img/icons/b_icon_hover.png');
}

.hover-info {
	position: absolute;
	visibility: hidden;
	box-sizing: border-box;

	left: 267px;
	top: 1px;

	width: 267px;
	height: 120px;

	background-color: rgba( 42, 134, 255, 0.749);

	color: #fff;
	line-height: 1.143;

	z-index: 2;

}

.hover-info > .head {
	display: block;
	padding: 15px 12px 12px 12px;

	font-size: 14px;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	text-transform: uppercase;

	border-bottom: 1px solid #fff;
}

.hover-info > .text {
	display: block;
	padding: 15px 12px 25px 12px;

	font-size: 13px;
	font-family: 'Montserrat-Regular', sans-serif;
}

.benefit__item:nth-child(3n + 3) > .hover-info {
	left: -267px;
}

.benefit__item:hover > .hover-info {
	visibility: visible;
}

.benefit__item > .hover-info:hover {
	opacity: 0;
	filter:alpha(opacity=0);
	visibility: hidden;
}



/*==================== Product ====================*/

.product > .container--big {
	border: 8px solid #1b2160;
	border-image: linear-gradient(145deg, #1a1a55, #2a86ff 80%);
	border-image-slice: 1;
	position: relative;
	margin-top: 25px;
	margin-bottom: 26px;
}

.product__inner {
	box-sizing: border-box;
	height: 625px;
	width: 100%;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
}

.product__info {
	width: 544px;
	padding-left: 95px;
	padding-top: 45px;
	padding-bottom: 78px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.product__info > .head {
	color: #1a1a55;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

.product__info > .comments > .stars {
	text-align: left;
	font-size: 18px;
	color: #2a86ff;
	user-select: none;
}

.product__info > .comments {
	width: 220px;
	height: 20px;
	text-align: right;
	margin-top: 30px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 12px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.product__info > .comments > a {
	color: #2a86ff;
}

.product__info > .comments > a:visited {
	color: #2a86ff;
}

.product__info > .info {
	height: 245px;
	margin-top: 20px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 13px;
	line-height: 1.231;
	color: #444;
}

.info__list {
	list-style: none;
}

.info__list__item {
	margin-bottom: 5px;
}

.info__list__item:last-child {
	margin-bottom: 0;
}

.product__info > .price {
	width: 100%;
	margin-top: 22px;
}

.product__info > .price > .current {
	display: inline-block;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #1a1a55;
}

.product__info > .price > .old {
	display: inline-block;
	margin-left: 35px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #444;
	text-decoration: line-through;
}

.add {
	width: 255px;
	height: 47px;
	margin-top: 30px;
}

.product__photo {
	width: 540px;
	margin-top: 100px;
	margin-bottom: 78px;
	padding-top: 45px;
	padding-bottom: 78px;
}

.product__photo > .photo {
	width: 354px;
	height: 312px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.product__list{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 405px;
	height: 80px;

	justify-content: space-between;
	border-right: 2px solid #1a1a55;
	overflow: hidden;
}

.product__list__item {
	width: 80px;
	box-sizing: border-box;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0.4;
	cursor: pointer;
	transition: all .3s ease;
	margin-right: 30px;
}

.product__list__item > .photo_small {
	height: 76.923%;
}

.product__list__item--active {
	border: 1px solid #1a1a55;
	opacity: 1;
}

.product__color {
	width: 278px;
	margin-top: 45px;
	margin-bottom: 78px;
	padding-bottom: 78px;
}

.product__color > .head {
	margin-left: 25px;
	display: inline-block;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #1a1a55;
	text-transform: uppercase;
}

.product__color > .color {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 14px;
	color: #2a86ff;
	margin-left: 25px;
	margin-top: 10px;
}

.product__color > .count {
	display: inline-block;
	margin-top: 10px;
	margin-left: 15px;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 14px;
	color: #2a86ff;
}

.color__list {
	list-style: none;
	margin-top: 25px;
}

.color__list__item {
	display: block;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	border: 2px solid #eee;
	outline: 2px solid #fff;

	margin-left: 65px;
	margin-top: 10px;
	position: relative;
	cursor: pointer;
}

.color__list__item--active:before {
	content: '';
	position: absolute;
	display: block;
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	border: 1px solid #1a1a55;
}

.color__list__item:first-child {
	margin-top: 0;
}

.color-1 {
	background-color: #fff;
}

.color-2 {
	background-color: #c69c6d;
}

.color-3 {
	background-color: #790000;
}

.color-4 {
	background-color: #603913;
}

.color-5 {
	background-color: #000;
}

.to_catalog{
	box-sizing: border-box;
	position: absolute;
	background-color: #2a86ff;
	color: #fff;
	width: 315px;
	height: 47px;
	left: 526px;
	bottom: -8px;
}

.to_catalog:hover {
	background-color: #2562ff;
	border-color: #2562ff;
}

/*==================== How to choose ====================*/

.how_to_choose {
	margin-top: 25px;
	height: 835px;
	width: 100%;
}

.how_to_choose > .container--big {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;

	position: relative;
}

.how_to_choose > .container--big > .wrapper {
	width: 816px;
	margin-top: 92px;
}

.wrapper > .head {
	font-family: 'Montserrat-Bold', sans-serif;
	width: 495px;
	font-size: 30px;
	margin-left: 136px;
	font-weight: bold;
	color: #1a1a55;
	text-transform: uppercase;
}

.how_it_works {
	display: inline-block;
	margin-top: 34px;
	margin-left: 136px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 18px;
	color: #1a1a55;
}

.how_to_choose > .container--big > .text {
	width: 788px;
	height: 327px;
	padding: 37px 25px 30px 34px;
	margin-top: 62px;
	background-color: #fff;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #444;
	text-align: justify;
	line-height: 1.5;

	-webkit-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);

	position: relative;
	z-index: 3;
}

.gray_part--right {
	position: absolute;
	left: 544px;
	top: 0;
	z-index: -1;
	height: 100%;
	width: 1096px;
	background-color: #eee;
}

.photo_part {
	display: block;
	position: absolute;
	width: 908px;
	height: 700px;
	background-color: #6fc094;
	background-image: url('../img/text_bg.png');
	background-size: cover;
	background-repeat: no-repeat;

	top: 70px;
	right: 732px;
}

.choose_btn {
	margin-top: 55px;
	width: 308px;
	height: 47px;
	background-color: #2a86ff;
	color: #fff;
	transition: border-color .15s linear, background-color .15s linear;
	-o-transition: border-color .15s linear, background-color .15s linear;
	-webkit-transition: border-color .15s linear, background-color .15s linear;
	-moz-transition: border-color .15s linear, background-color .15s linear;
}

.choose_btn:hover {
	background-color: #2562c6;
	border-color: #2562c6;
}

/*==================== System ====================*/

.system	{
	height: 1435px;
}

.system > .container--small {
	height: 100%;
	padding-top: 1px;
	position: relative;
}

.system > .container--small > h2 {
	margin-top: 64px;
	margin-left: 204px;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #1a1a55;
	text-transform: uppercase;
}

.system > .container--small > .content-block {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.subhead {
	display: inline-block;
	text-align: right;
	margin-top: 58px;
	margin-right: 35px;
	-ms-align-self: flex-end;
	align-self: flex-end;

	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #2a86ff;
	text-transform: uppercase;
}

.subhead:before {
	display: block;
	content: "";
	height: 3px;
	width: 652px;

	position: absolute;
	top: 65px;
	left: 14px;


	background-color: #2a86ff;
}

.content-block > .photo_left {
	margin-left: 15px;
	margin-top: 30px;
	width: 353px;
	height: 270px;

	-ms-align-self: flex-start;
	align-self: flex-start;
}

.content-block > .text_right {
	position: absolute;
	box-sizing: border-box;
	right: 15px;
	top: 146px;
	height: 185px;
	width: 817px;
	padding: 10px 20px 20px 50px;

	text-align: justify;

	line-height: 1.375;
	background-color: #2a86ff;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #fff;

	-webkit-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
}

.content-block > .text_right:after {
	content: "";
	width: 2px;
	height: 159px;
	background-color: #fff;
	position: absolute;
	top: 13px;
	left: 30px;
}

.content-block > .text_right:before {
	content: "";
	border: 18px solid transparent;
	border-left: 24px solid #00ca43;
	position: absolute;
	top: 39%;
	left: -6px;
}

.content-block > .photo_right {
	margin-right: 15px;
	width: 353px;
	height: 270px;

	-ms-align-self: flex-end;
	align-self: flex-end;
}

.content-block > .text_left {
	position: absolute;
	box-sizing: border-box;
	left: 15px;
	top: 414px;
	height: 185px;
	width: 817px;
	padding: 10px 50px 20px 20px;

	text-align: justify;

	line-height: 1.375;
	background-color: #1a1a55;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #fff;

	-webkit-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
	box-shadow: 0px 32px 22px -23px rgba(0,0,0,0.47);
}

.content-block > .text_left:after {
	content: "";
	width: 2px;
	height: 159px;
	background-color: #fff;
	position: absolute;
	top: 13px;
	right: 30px;
}

.content-block > .text_left:before {
	content: "";
	border: 18px solid transparent;
	border-right: 24px solid #dc0909;
	position: absolute;
	top: 39%;
	right: -6px;
}

.gray_part--left {
	position: absolute;
	top: 0;
	right: 721px;
	display: block;
	width: 824px;
	height: 100%;
	z-index: -1;
	background-color: #eee;
}

/*==================== Production content ====================*/

main.content {
	min-height: 2380px;
	width: 100%;
}


/*==================== Map & Contacts ====================*/

.map_contacts {
	height: 730px;
	width: 100%;
	background-color: #f3f3f3;
	background-image: url('../img/map.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 1px;
	font-family: 'Montserrat-regular', sans-serif;
	font-size: 14px;
}

.map_contacts > .container_small {
	height: 100%;
	position: relative;
	background-color: red;
}

.user_interaction {
	margin-top: 389px;
	width: inherit;
	height: 445px;
	background-color: #fff;
	position: relative;
	z-index: 1;

	-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.user_interaction:before {
	content: "";
	width: 49px;
	height: 59px;
	position: absolute;
	background-image: url('../img/icons/pointer.png');
	left: 515px;
	top: -230px;
}

.user_interaction:after {
	content: "344090, г. Ростов-на-Дону, пр. Стачки, д. 999, оф. 999";
	position: absolute;
	top: -240px;
	left: 580px;
	background-color: #2a86ff;
	width: 227px;
	height: 76px;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 18px 17px;
	color: #fff;
	opacity: 0.94;
	filter:alpha(opacity=94);
}

.user_interaction > .info	{
	height: 100%;
	width: 450px;
	background-color: #2a86ff;
	color: #fff;

	padding: 25px 50px 90px 30px;
	line-height: 1.714;
}

.user_interaction > .info > h3 {
	display: inline-block;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	width: 270px;
	line-height: 1.25;
}


.full_address {
	margin-top: 50px;
	padding-left: 50px;
	position: relative;
}

.full_address:before {
	content: "";
	position: absolute;
	width: 30px;
	height: 36px;
	background-image: url('../img/icons/ui_address.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	top: 4px;
}

.full_mail {
	margin-top: 40px;
	width: 300px;
	padding-left: 50px;
	position: relative;
}

.full_mail:before {
	content: "";
	position: absolute;
	width: 34px;
	height: 25px;
	background-image: url('../img/icons/ui_mail.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	top: 7px;
}

.full_phone {
	margin-top: 40px;
	width: 315px;
	padding-left: 50px;
	position: relative;
}

.full_phone:before {
	content: "";
	position: absolute;
	width: 35px;
	height: 35px;
	background-image: url('../img/icons/ui_phone.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	top: 7px;
}

.interaction_form {
	width: 750px;
	padding: 30px 80px 45px 70px;
}

.interaction_form > h3 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: #1a1a55;
	text-transform: uppercase;
}

.interaction_form > form {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.input_wrapper{
	margin-top: 20px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.inner_input_wrapper {
	width: 260px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.inner_input_wrapper:first-child{
	margin-right: 55px;
}

.inner_input_wrapper > label {
	font-size: 12px;
	color: #444;
}

.inner_input_wrapper > .contact_data {
	margin-top: 38px;
	color: #444;
}

.inner_input_wrapper > .input {
	border: none;
	border-bottom: 1px solid #d7d7d7;
	background-color: transparent;
	outline: none;
	font-size: 16px;
	height: 48px;
	color: #444;
}

.interaction_form > form > .inner_input_wrapper {
	width: 100%;
}

.input_wrapper > input[type="submit"] {
	margin-top: 24px;
	width: 156px;
	height: 35px;
	background-color: #2a86ff;
	color: #fff;
	cursor: pointer;
}

.input_wrapper > .agreement {
	margin-top: 28px;
	width: 190px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.input_wrapper > .agreement > input[type="checkbox"] {
	cursor: pointer;
	margin-bottom: 5px;
}

.input_wrapper > .agreement > label {
	width: 160px;
	font-size: 10px;
	color: #444;
	cursor: pointer;
}
/*==================== Adresses ====================*/

.addresses {
	display: inline-block;
	padding-top: 1px;
	min-height: 905px;
	width: 100%;
	background-image: url('../img/modal_bg.png');
	position: relative;
}

.adresses > .container--small {
	position: relative;
	z-index: 10;
}

.addresses:before {
	content: "";
	width: 687px;
	height: 900px;
	background-image: url('../img/addresses_circles.png');
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.addresses > .container--small > h3 {
	width: 330px;
	display: block;
	margin: 200px auto 50px auto;

	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #1a1a55;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.cities_partners {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;

	min-height: 430px;
	margin-top: 60px;
	position: relative;
	z-index: 1000;
}

.cities_partners > .partners_list {
	width: 810px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.cities_partners > .cities_left,
.cities_partners > .cities_right {
	width: 180px;
}

.cities_left > ul > a,
.cities_right > ul > a {
	text-decoration: none;
	list-style: none;
	color: #1a1a55;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.cities_left {
	text-align: right;
}

.partners_list_item {
	width: 610px;
	height: 95px;
	margin: 0 auto 18px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;

	font-size: 16px;
	font-family: 'Montserrat-Regular', sans-serif;

	border-bottom: 2px solid #2a86ff;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
}

.partners_list_item:first-child {
	margin-top: 0;
}

.partners_list_item:last-child {
	margin-bottom: 150px;
}

.partners_list_item > .company_contacts {
	width: 370px;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.company_contacts > .name {
	color: #1a1a55;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.company_contacts > .address {
	margin-top: 15px;
}

.company_contacts > .contacts {
	margin-top: 7px;
}

.company_contacts > .contacts > .phone {
	margin-right: 32px;
}

.company_contacts > .contacts > .phone:before {
	background-image: none;
}

.company_contacts > .contacts > .mail{
	position: relative;
}

.company_contacts > .contacts > .mail:before {
	content: "";
	width: 1px;
	height: 16px;
	background-color: #767676;
	position: absolute;
	left: -17px;
	top: 1px;
}

.partners_list_item > .website {
	width: 240px;
	height: 100%;
	align-self: flex-start;
	text-align: right;

	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	color: #1a1a55;
}

/*==================== Text Title ====================*/

.text_title {
	height: 350px;
	width: 100%;
	background-image: url('../img/text_title_bg.png');
	background-size: cover;
	background-position: right;
}

.text_title > .container--small {
	height: 100%;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	justify-content: space-between;
}

.text_title__title {
	margin-top: 77px;
	margin-left: 15px;
	width: 450px;
	height: 233px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.text_title__title > h1 {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 44px;
	font-weight: bold;
	width: 450px;
	height: 142px;
}

.text_title__title > span {
	display: inline-block;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 30px;
	width: 390px;
	height: 30px;
	margin-top: 23px;
}

.text_title__description {
	margin-top: 95px;
	margin-right: 15px;
	width: 640px;
	height: 200px;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 14px;
	color: #fff;
}

.text_title__description > span {
	box-sizing: border-box;
	display: inline-block;
	width: 640px;
	height: 140px;
	background-color: rgba(42,134,255,0.63);
	padding: 16px 23px 20px 28px;
	line-height: 18px;
}

.text_title__description > .breadcrumbs {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.35);

	width: 470px;
	margin-top: 43px;
	margin-left: 170px;
}

.breadcrumbs > a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.fa-chevron-right {
	align-self: center;
}

.breadcrumbs--active {
	color: #2a86ff;
}

/*==================== Info Content ====================*/

.info_content {
	height: 2177px;
}

.info_content > .container--small {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.info_content__header {
	margin-left: 15px;
	margin-top: 78px;
	color: #1a1a55;
	line-height: 36px;
	position: relative;
}

.info_content__header:before {
	content: '';
	width: 820px;
	height: 4px;
	background-color: #2a86ff;
	position: absolute;
	top: 25px;
	left: 335px;
}

.info_content__header > h2 {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.info_content__header > span {
	display: block;
	font-size: 24px;
	font-family: 'Montserrat-Regular', sans-serif;
}

.info_content__block--right {
	position: relative;
	margin-top: 37px;
	height: 510px;
}

.info_content__block--right > .gray_part {
	width: 908px;
	height: 455px;
	position: absolute;
	right: 720px;
	top: 0;
	background-color: #eee;
	z-index: -1;
}

.info_content__block--right > img {
	width: 390px;
	height: 463px;
	z-index: 1;

	margin-top: 44px;
	margin-left: 15px;
}

.block--right__text {
	box-sizing: border-box;
	position: absolute;
	top: 12px;
	right: 0;
	width: 721px;
	height: 495px;

	padding: 30px 14px 30px 44px;

	color: #444;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	line-height: 22px;

	overflow: hidden;
	text-align: justify;

	-webkit-box-shadow: -6px 36px 26px -31px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 36px 26px -31px rgba(0,0,0,0.75);
box-shadow: -6px 36px 26px -31px rgba(0,0,0,0.75);
}

.info_content__block--left {
	position: relative;

	height: 502px;
	margin-top: 46px;
}

.info_content__block--left > .gray_part {
	width: 1111px;
	height: 455px;
	position: absolute;
	left: 450px;
	top: 0;
	background-color: #eee;
	z-index: -1;
}

.info_content__block--left > img {
	width: 661px;
	height: 463px;
	z-index: 1;
	margin-top: 39px;
	margin-left: 494px;
}

.block--left__text {
	box-sizing: border-box;
	position: absolute;
	top: 7px;
	left: 0;

	width: 450px;
	height: 495px;
	padding: 28px 29px 32px 15px;
	overflow: hidden;
	text-align: justify;

	color: #444;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	line-height: 22px;

	-webkit-box-shadow: 6px 36px 26px -31px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 36px 26px -31px rgba(0,0,0,0.75);
box-shadow: 6px 36px 26px -31px rgba(0,0,0,0.75);
}

.info_content__buttons {
	height: 47px;
	margin-top: 57px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	margin-bottom: 63px;
}

.info_content__buttons:after {
	content: '';
	position: absolute;
	bottom: -59px;
	left: 0;
	width: 1170px;
	height: 4px;
	background-color: #2a86ff;
}

.info_content__buttons > .button:first-child {

	width: 368px;
	height: 47px;
	text-transform: uppercase;
	color: #fff;
	background-color: #2a86ff;
	font-size: 16px;

	transition: all .15s ease;
}

.info_content__buttons > .button:first-child:hover {
	background-color: #2562ff;
	border-color: #2562ff;
}

.info_content__buttons > .button:last-child {
	margin-left: 46px;
	width: 291px;
	height: 47px;
	font-size: 16px;
}

.info_content__product_for_clients {
	margin-top: 54px;
}

.info_content__product_for_clients > span {
	display: block;
	height: 22px;
	text-align: center;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	color: #1a1a55;
}

.product_for_clients__products {
	box-sizing: border-box;
	margin: 50px 15px 72px 15px;
	height: 562px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

.product_for_clients__products > .products__item {
	box-sizing: border-box;
	width: 279px;
	height: 274px;
	border: 1px solid #eee;

	padding: 46px 14px 7px 15px;
	margin-right: 8px;
	position: relative;
	z-index: 3;
	cursor: pointer;
}

.products__item:nth-child(4n+4) {
	margin-right: 0;
}

.products__item:nth-child(n+5) {
	margin-top: 15px;
}

.products__item > img {
	width: 250px;
	height: 221px;
}







/*==================== Questions ====================*/

.questions {
	height: 595px;
	background-color: #2a86ff;
	background-image: url('../img/questions_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.questions > .container--big {
	padding-top: 1px;
	position: relative;
	height: 100%;
}

.q_head {
	width: 360px;
	margin-top: 45px;
	margin-left: 108px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	line-height: 1.5;
}

.q_head > .do_you {
	display: block;
	font-size: 48px;
}

.q_head > .have {
	display: block;
	font-size: 57px;
}

.contact_us {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	margin-top: 30px;
	margin-left: 200px;
	width: 425px;
	color: #fff;
	position: relative;

}

.contact_us:before {
	content: "";
	display: inline-block;
	height: 2px;
	width: 466px;
	background-color: #fff;

	position: absolute;
	left: -481px;
	top: 13px;
}

.contact_us > .will_answer {
	font-family: 'Montserrat-SemiBold', sans-serif;
	font-size: 25px;
	line-height: 1.04;
}

.contact_us > .contact_phone {
	margin-top: 15px;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 46px;
}

.contact_us > .free_call {
	margin-top: 15px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
}

.btns {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	margin-left: 60px;
	margin-top: 35px;
	justify-content: space-between;
	width: 290px;
	height: 115px;
}

.btns > .call,
.btns > .message {
	width: 108px;
	height: 108px;
	border: 4px solid #fff;
	border-radius: 100%;
	transition: border .15s linear, background-color .15s linear, box-shadow .15s linear;
	-o-transition: border .15s linear, background-color .15s linear, box-shadow .15s linear;
	-webkit-transition: border .15s linear, background-color .15s linear, box-shadow .15s linear;
	-moz-transition: border .15s linear, background-color .15s linear, box-shadow .15s linear;
	cursor: pointer;
	position: relative;
}

.btns > .call:before {
	content: "";
	width: 62px;
	height: 62px;
	background-image: url('../img/icons/q_phone.png');
	position: absolute;
	left: 24px;
	top: 22px;
}

.btns > .call:hover:before {
	background-image: url('../img/icons/q_phone_hover.png');
}

.btns > .message:before {
	content: "";
	width: 54px;
	height: 42px;
	background-image: url('../img/icons/q_mail.png');
	position: absolute;
	left: 28px;
	top: 34px;
}

.btns > .message:hover:before {
	background-image: url('../img/icons/q_mail_hover.png');
}

.btns > .call:hover,
.btns > .message:hover {
	border-color: #2a86ff;
	background-color: #fff;
	-webkit-box-shadow: 10px 5px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 5px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 5px 20px 0px rgba(0,0,0,0.75);
}

.woman {
	position: absolute;
	right: 0;
	bottom: 1px;
}

/*==================== Our partners ====================*/

.our_partners {
	height: 305px;

	background-color: #e1ded9;
	background-image: url('../img/partners_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.our_partners > .container--big {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	padding-top: 1px;
	color: #1a1a55;
	position: relative;
}

.our_partners > .container--big > .left_arrow {
	position: absolute;
	top: 200px;
	width: 38px;
	height: 35px;
	background-image: url('../img/icons/arrow_left.svg');
	left: 0;
	cursor: pointer;
}

.our_partners > .container--big > .right_arrow {
	position: absolute;
	top: 200px;
	width: 38px;
	height: 35px;
	background-image: url('../img/icons/arrow_right.svg');
	right: 0;
	cursor: pointer;
}

.our_partners > .container--big > .p_head {
	margin-top: 50px;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 30px;
	font-weight: bold;

	text-transform: uppercase;
}

.our_partners > .container--big > .p_subhead {
	margin-top: 25px;
	font-family: 'Montserrat-regular', sans-serif;
	font-size: 18px;
}

.partners_slider {
	margin-top: 50px;
	width: 1140px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.partners_icon {
	width: 170px;
	height: 60px;
	background-image: url('../img/partners_item.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

/*==================== Footer ====================*/

.footer {
	height: 590px;
	background-color: #1a1a55;
	padding-top: 60px;
}

.footer_content {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	position: relative;

	font-family: 'Montserrat-regular', sans-serif;
	font-size: 12px;
	color: #fff;
}

.footer_content:before {
	content: "";
	position: absolute;
	z-index: 0;
	width: 250px;
	height: 124px;
	top: 50px;
	left: -20px;
	background-image: url('../img/icons/world_map.png');
}

.footer_content > .contacts {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	margin-left: 15px;
	width: 200px;
}

.footer_content > .contacts > .head {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #2a86ff;
	text-transform: uppercase;
}

.footer_content > .contacts > .address {
	margin-top: 45px;
}

.footer_content > .contacts > .show_map {
	position: relative;
	z-index: 1;
	margin-top: 20px;
	color: #2a86ff;
}

.footer_content > .contacts > .mail_sale {
	margin-top: 45px;
}

.footer_content > .contacts > .support {
	margin-top: 15px;
}

.footer_content > .contacts > .phone_sale {
	margin-top: 40px;
}

.footer_content > .contacts > .phone_support {
	margin-top: 12px;
}

.f_social {
	margin-top: 50px;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.f_social > a {
	display: block;
	width: 21px;
	height: 16px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.f_social > .vk {
	background-image: url('../img/social/vk_hover.png');
}

.f_social > .fb {
	background-size: contain;
	background-image: url('../img/social/fb_hover.png');
}

.f_social > .youtube {
	background-image: url('../img/social/yt_hover.png');
}

.clients_info {
	margin-left: 45px;
}

.clients_info > .head {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #2a86ff;
	text-transform: uppercase;
}

.clients_info > .lists {
	margin-top: 45px;
	width: 465px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.list_left > a, .list_right > a {
	text-decoration: none;
	color: #fff;
	list-style: url('../img/icons/list_pointer.png');
}

.list_left > a > li, .list_right > a > li {
	margin-top: 13px;
	padding-left: 10px;
}

.list_left > a:first-child > li:first-child {
	margin-top: 0;
}

.list_right > a:first-child > li:first-child {
	margin-top: 0;
}


/*==================== Form ====================*/

.contact_form {
	margin-left: 30px;
	width: 405px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.contact_form > .head {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #2a86ff;
	text-transform: uppercase;
}

.questions_form > .input_name,
.questions_form > .input_mail,
.questions_form > .input_message {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 45px;
	padding-right: 20px;
	border: 2px solid #ddd;
	width: 100%;
	position: relative;
}

.questions_form > .name_icon,
.questions_form > .mail_icon,
.questions_form > .message_icon {
	position: absolute;
}

.questions_form > .input_name {
	margin-top: 50px;
	height: 33px;
}

.questions_form > .name_icon {
	width: 19px;
	height: 19px;
	top: 80px;
	left: 14px;
	background-image: url('../img/icons/f_name.png');
	cursor: text;
}

.questions_form > .input_mail {
	margin-top: 30px;
	height: 33px;
}

.questions_form > .mail_icon {
	width: 19px;
	height: 14px;
	left: 16px;
	top: 145px;
	cursor: text;
	background-image: url('../img/icons/f_mail.png');
}

.questions_form > .input_message {
	resize: none;
	margin-top: 30px;
	height: 101px;
}

.questions_form > .message_icon {
	width: 20px;
	height: 17px;
	left: 16px;
	top: 209px;
	cursor: text;
	background-image: url('../img/icons/f_message.png');
}

.questions_form > input[class="button"] {
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	background-color: #2a86ff;
	margin-top: 47px;
	width: 279px;
	height: 35px;
	transition: background-color .15s linear, border-color .15s linear;
	-o-transition: background-color .15s linear, border-color .15s linear;
	-webkit-transition: background-color .15s linear, border-color .15s linear;
	-moz-transition: background-color .15s linear, border-color .15s linear;
}

.questions_form > input[class="button"]:hover {
	background-color: #2562c6;
	border-color: #2562c6;
}

/*==================== Copyrights ====================*/

.copyrights {
	box-sizing: border-box;
	height: 58px;
	background-color: #0e0e4d;

	color: #fff;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top: 22px;
}

.copyrights > .underline {
	text-decoration: underline;
}

/*==================== Modal ====================*/

.modal {
	margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  opacity: 0;
	filter: alpha(opacity=0);
	-o-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  transition: opacity .15s linear;
  pointer-events: none;
	visibility: hidden;
}

.modal_visible {
  opacity: 1;
	filter: alpha(opacity=100);
	pointer-events: auto;
	visibility: visible;
}

#openRequestCall {
	width: 690px;
	height: 315px;
}

.modal_header {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	height: 70px;
	background-color: #1a1a55;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;

	padding-left: 50px;
	padding-right: 30px;

	text-transform: uppercase;
}

.close {
	width: 20px;
	height: 20px;
	background-image: url('../img/modal_close.png');
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
	cursor: pointer;
}

.modal_body {
	box-sizing: border-box;
	width: 100%;
	background-color: #ededed;
	background-image: url('../img/modal_bg.png');
	background-repeat: repeat;
	padding: 30px 46px 30px 50px;

	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #444;
}

.modal_form > .wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.wrapper > .input_name,
.wrapper > .input_phone {
	width: 260px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}


.wrapper > .input_name > input[type="text"],
.wrapper > .input_phone > input[type="text"] {
	border: none;
	border-bottom: 1px solid #d7d7d7;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	height: 48px;
}


.contact_data {
	display: inline-block;
	margin-top: 22px;
	font-size: 10px;
	margin-bottom: 30px;
}

.modal_body > .wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.wrapper > .agreement {
	font-size: 10px;
	width: 350px;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.wrapper > .agreement > .checkbox {
	background-color: transparent;
	border: 1px solid #c2c2c2;
	width: 13px;
	height: 13px;
	margin-right: 20px;
	cursor: pointer;
}

.wrapper > .agreement > label {
	cursor: pointer;
}

.wrapper > .button {
	width: 183px;
	height: 52px;
	font-size: 16px;
	background-color: #2a86ff;
	color: #fff;
	cursor: pointer;
	transition: background-color .15s linear, border-color .15s linear;
	-o-transition: background-color .15s linear, border-color .15s linear;
	-webkit-transition: background-color .15s linear, border-color .15s linear;
	-moz-transition: background-color .15s linear, border-color .15s linear;
}

.wrapper > .button:hover {
	background-color: #2562c6;
	border-color: #2562c6;
}

.modal_background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	z-index: 1049;
	background-color: rgb( 8, 8, 24 );
	opacity: 0;
	filter: alpha(opacity=0);
	-o-transition: opacity .15s linear;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

#openAddProduct {
	width: 940px;
	height: 315px;
}

#openAddProduct > .modal_body {
	padding: 0;
	height: 245px;
}

.modal_body > .product {
	box-sizing: border-box;
	padding-left: 65px;
	padding-right: 75px;
	width: 100%;
	height: 137px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;

	font-family: 'Montserrat-regular', sans-serif;
	font-size: 18px;
	color: #444;
}

.modal_body > .product:after {
	content: "";
	position: absolute;
	display: block;
	height: 2px;
	width: 940px;
	background-color: #2a86ff;
	bottom: 107px;
	left: 0;
}

.product_info {
	padding-top: 20px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.bold {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: bold;
}

.product_img {
	margin-top: 35px;
	width: 117px;
	height: 104px;
}

.product > .price {
	padding-top: 15px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

.product > .price > .left {
	height: 55px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 40px;
	text-align: right;
}

.product > .price > .right {
	height: 55px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}


.order_btn {
	margin: 27px 80px 28px 625px;

	box-sizing: border-box;
	width: 233px;
	height: 52px;
	font-size: 16px;
	background-color: #2a86ff;
	color: #fff;
	cursor: pointer;
	transition: background-color .15s linear, border-color .15s linear;
	-o-transition: background-color .15s linear, border-color .15s linear;
	-webkit-transition: background-color .15s linear, border-color .15s linear;
	-moz-transition: background-color .15s linear, border-color .15s linear;
}

.order_btn:hover {
	background-color: #2562c6;
	border-color: #2562c6;
}

#openRightChoose {
	width: 940px;
	height: 545px;
	color: #444;
}

#openRightChoose > .modal_body {
	height: 475px;
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 14px;
	padding-right: 90px;
}

.modal_body > .part1,
.modal_body > .part2 {
	text-align: justify;
	display: block;
	margin-bottom: 20px;
}

.modal_body > ul {
	margin-top: 13px;
	list-style: none;
}

.modal_body > ul > li {
	position: relative;
	padding-left: 25px;
	margin-top: 10px;
}

.modal_body > ul > li:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #2a86ff;
	left: 1px;
	top: 5.5px;
}

.modal_body > ul > li:last-child {
	margin-bottom: 13px;
}

#openOrderConsultation {
	width: 645px;
	height: 390px;
}

#openOrderConsultation > .modal_body {
	height: 320px;
}

.modal_body > .choose {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 66px;
}

.modal_body > .choose:after {
	content: "";
	display: block;
	position: absolute;
	width: 645px;
	height: 2px;
	background-color: #2a86ff;
	top: 136px;
	left: 0;
}

/*	transition bgi для иконок
*/
